@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    outline: none;
}

body{
    background-image: url(../public/image/R2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}