
.hero-section{
    background-image: url('../src/assets/image/herobanner__1.d2f38a2d.jpg');
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 99;
    overflow: hidden;
}
header{
    position: absolute;
    width: 100%;
    z-index: 999;
}
.back-color{
    padding:20px;
    background-color: rgba(255, 240, 250, .05) !important;
    border-radius: 10px;
}
li{
    list-style: none;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
}
.social-icons:hover{
    background-color: #ec0294;
    border: none;
}
.main-h1{
    font-size: 70px;
    font-weight: 700;
}
.all-btn{
    padding: 20px 45px;
    background:linear-gradient(90deg, #00229e, #6e1299 47.92%, #fe0094);;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    border-radius: 8px;
    font-family: "Source Sans Pro";;
    transition: .3s;
    display: inline-block;
}

.hero-img:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: -270px;
    top: 150px;
    background-image: url('./src/assets/image/Vector__2.png');
    z-index: -1;
    background-position: center ;
    background-repeat: no-repeat;
}
.hero-img:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: -100px;
    top: 70px;
    background-image: url('./src/assets/image/Vector__3.png');
    z-index: -1;
    background-position: bottom;
    background-repeat: no-repeat;
    
    
}
.hero-img{
    position: relative;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.service-bg{
    padding-top: 120px;
    background-image:url('./src/assets/image/service__bg__img.677353e5.png');
    background-color: #fff0fa ;
    height: 100vh;
    background-size: cover;
}
.pb-60{
    padding-bottom: 70px;
}
.s-h3{
    font-size: 37px;
    font-weight: 700;
}
.s-text{
    color:#5f6c76;;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    margin: 0;
}
.service-card{
    padding: 32px 45px 40px;
    background: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .05);
    text-align: center;
    border-radius:8px;
    position: relative;
    overflow: hidden;
}
.card-text{
    color: #5f6c76;
    font-weight: 500;
    line-height: 32px;
    font-size: 17px;
    margin-bottom: 18px;
}
.card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-btn button{
    border: none;
    border-radius: 50%;
    padding: 15px 20px;
    background-color: #fff0fa;
    border: 1px solid #fff0fa;
}
.card-btn i{
    color: black;
    font-size: 20px;
    font-weight: bolder;
}
.pt-120{
    padding-top: 120px;
}
.about-bg{
    background-image: url('./src/assets/image/testimonial__2.webp');
    padding: 10px 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}